<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserBookMapper">
  <resultMap id="BaseResultMap" type="pojo.UserBook">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="bid" jdbcType="INTEGER" property="bid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from userbook
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByBid" parameterType="java.lang.Integer">
        delete from userbook
    where bid = #{bid,jdbcType=INTEGER}
    </delete>
  <insert id="insert" parameterType="pojo.UserBook">
    insert into userbook (id, uid, bid)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, #{bid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="pojo.UserBook">
    update userbook
    set uid = #{uid,jdbcType=VARCHAR},
      bid = #{bid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, uid, bid
    from userbook
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, uid, bid
    from userbook
  </select>
    <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from userbook
    where uid=#{uid,jdbcType=VARCHAR}
  </select>
</mapper>